.about {
    clear: both;
        h2{
            @include heading(2.5rem);
            position: relative;
            width: 50%;
            margin: 0 auto;
            text-align: center;
            // phablet breakPoint
            @include breakpoint(phablet) {
                width: 100%;
            }
                &::after {
                    content: '';
                    position: absolute;
                    top: 40%;
                    left: 12%;
                    width: 20%;
                    height: 2px;
                    background-color: $black;
                    // laptop breakpoint
                    @include breakpoint(laptop) {
                        left: 8%;
                    }
                    // bigPhablet breakpoint
                    @include breakpoint(bigPhablet) {
                        left: 6%;
                    }
                    //  medPhablet breakpoint
                     @include breakpoint(medPhablet) {
                         display: none;
                     }
                }
        }
        .aboutImg {
            display: none;
                img {
                    max-width: 75%;
                    margin: auto;
                    // phablet breakpoint
                    @include breakpoint(phablet) {
                        max-width: 100%;
                    }
                }
            // bigPhablet breakpoint
            @include breakpoint(bigPhablet) {
                display: block;
                margin: 20px auto;
            }
        }
        .aboutText {
            width: 85%;
            margin: 0 auto;
            margin-top: 30px;
            // bigPhablet breakpoint
            @include breakpoint (bigPhablet) {
                width: 95%;
            }
            // medPhablet breakpoint
            @include breakpoint(medPhablet) {
                width: 100%;
            }
            p {
                @include text(1.8rem);
                margin-top: 25px;
                line-height: 30px;
                text-align: justify;
            }
            .tldr {
                @include heading(1.8);
                font-weight: 500;
            }
        }
    }
    