.skills {
    margin-top: 70px;
    margin-bottom: 70px;
        h2 {
            @include heading(2rem);
            margin-bottom: 50px;
            text-align: center;
            font-weight: 500;
        }
        .skillsContainer {
            @include displayFlex;
            flex-wrap: wrap;
            min-width: 540px;
                .skill {
                    font-size: 8.7rem;
                    color: $black;
                    margin: 0 10px;
                }
            }
        }

        .boxOne, 
        .boxTwo {
            @include displayFlex;
            flex-grow: 1;
                .trick {
                    flex-grow: 1;
                }
        }
